* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color {
  padding: 0;
  height: 100px;
  width: 100px;
  border: none;
  background: none;
}

.color-group {
  display: flex;
  flex-direction: row;
}
